*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.flag
html/
build/
dist/
nbdist/
nbproject/private/
nbproject/Package-*.bash
nbproject/Makefile-*
nbbuild/
nbactions.xml
nb-configuration.xml
funclist
disassembly/
*.map
